* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.navbar {
    width: 80%;
    margin: auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Logo {
    width: 15%;
    padding-left: 15px;
}

.navbar ul li {
    list-style: none; 
}

.navbar ul li a {
    text-decoration: none; 
    color: #fff;
    text-transform: uppercase;
    position: relative; 
}

.navbar ul li a::after {
    content: '';
    height: 3px;
    width: 0;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li a:hover::after {
    width: 100%;
}

.signup-container {
    max-width: 400px;
    padding: 55px; 
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 15px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%; 
    padding: 10px;
    border: 2px solid #333232; 
    border-radius: 5px; 
    margin: 10px 0;
}

button {
    width: 100%; 
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background-color: #258cd1;
}


h2 {
    color: #3498db;
}

form {
    text-align: center;
    width: 100%;
}
.signup-container p  { 
    color: rgb(92, 92, 92); 
}

.signup-container p a { 
    color: white;
}

.signup-container p a:hover { 
    color: #3498db; 
}

